@import "tailwindcss";

@theme {
  --color-matin-primary: #0F3D2E;
  --color-ratal-action: #F7931E;
  --color-ratal-secondary: #D6C4A1;
  --color-ratal-text: #475569;

  --font-ibm: var(--font-ibm);

  --font-sans: var(--font-ibm), ui-sans-serif, system-ui;
}

body {
  background-color: #F5F5F5;
  color: var(--color-ratal-text);
  font-family: var(--font-ibm);
}